<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>TimeZone</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>
<style>
.input-radio {
        width: 15px;  
        height: 15px; 
        margin-top: 4px;
    }

   
    .radio-container {
        margin-right: 10px;  
    
}
.radbtns{
    width: 15px;  
    height: 15px;  
    margin-top: 4px;
}

#buttonedit:hover {
        background-color: #3F2520;
        color: #ffffff
    }
</style>
<body>
    <header class="header-area header-style-1 header-height-2">
  
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                               
                                    
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="shop-wishlist.html">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="shop-cart.html">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue">2</span>
                                    </a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">


                       
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="index.html">Home <i class="fi-rs-angle-down"></i></a>
                                        <!-- <ul class="sub-menu">
                                            <li><a href="index.html">Home 1</a></li>
                                            <li><a href="index-2.html">Home 2</a></li>
                                            <li><a href="index-3.html">Home 3</a></li>
                                            <li><a href="index-4.html">Home 4</a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="page-about.html">About</a>
                                    </li>
                               
                                 
                                    <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="page-about.html">About Us</a></li>
                                            <li><a href="page-contact.html">Contact</a></li>
                                            <li><a href="page-account.html">My Account</a></li>
                                            <li><a href="page-login-register.html">login/register</a></li>
                                            <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                            <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                            <li><a href="page-terms.html">Terms of Service</a></li>
                                            <li><a href="page-404.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                   
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                               
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                                       <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">Home</a>
                             
                            </li>
                         
                      
                        
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                  
                </div>
              
                
            </div>
        </div>
    </div>
    <main class="main">
       
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                   
                   
                   
                 
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p id="typeerror" style="color: red;"></p>
                        <% if (addressData.length === 0) { %>
                            <div class="card-body text-center" style="background-color: rgb(252, 251, 188); border-radius: 5px; margin-top: 15px; height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <h5>No Address Found !!! Please add</h5>
                                <a href="/addressadd">
                                    <button type="submit" name="submit" value="Submit" style="background:#3F2520;" id="buttonedit" class="btn btn-primary">Add address</button>
                                </a>
                            </div>
                            
                        <% } else {%>
                            
                            <div id="address " style="margin-top: 70px;" >
                                <a href="/addressadd">
                                    <button type="submit" name="submit" value="Submit" style="border-color: black; background-color: transparent; color: black;; width: 545px;"  id="buttonedit" class="btn btn-primary">Add address</button>
                                </a>
                                <div class="row">
                                    <%if(locals.addressData){%>
                                        <% addressData.forEach(element => { %>
                                    <div class="col-lg-12">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header" style="background-color: #3F2520;">
                                                <label class="radio-container d-flex" style="gap: 10px;">
                                                    <input id="addresstype" type="radio" class="input-radio" name="payment_method" value="<%= element._id %>" onclick="handleAddress('<%= element._id %>')">
                                                   
                                                    <span class="radio-text" style="color: #ffffff;"><%= element.uaddresstype %></span>
                                                  
                                                </label>
                                            </div>
                                                 
                                                    <div class="card-body" style="background-color: #ffffff; border :1px solid #3F2520 ; margin-top: 5px;" >
                                                        <address>
                                                            <%= element.uname %>
                                                            <br><%= element.umobile %>
                                                            <br> <%= element.uaddress %>
                                                            <br><%= element.upin %>
                                                            <br><%= element.ulocation %>
                                                            <br><%= element.ucity %>
                                                            <br><%= element.ustate %>
                                                            <br><%= element.ucountry %>
                                                          
                                                        </address>
                                                       
                                                        <a href="/addressedit?_id=<%= element._id %>">
                                                            <button type="submit"  name="submit" value="Submit" style="border-color: black; background-color: transparent; color: black;; padding-bottom: 10px; " id="buttonedit">Edit</button>
                                                          </a>
                                                        
                                                          
                                                      
                                                    </div>
                                               
                                           
                                        </div>
                                    </div>

                                    <% }) %>
                                    <% } %>
                                
                                   
                                </div>
                            </div> 

                        <%}%>

                    </div>
                    <div class="col-md-6">
                        <div class="order_review">  
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cartFind.products.forEach(element => { %>
                                    
                                        <tr>    
                                            <td class="image product-thumbnail"><img src="/uploads/<%= element.productId.images[0] %>" alt="#"></td>
                                            <td>
                                                <h5 ><a href="shop-product-full.html" style="color: #3F2520;"><%= element.productId.pname %></a></h5> <span class="product-qty">qty: <%= element.quantity %></span>
                                            </td>
                                            <td><%= element.price * element.quantity %></td>
                                        </tr>
                                        <% }) %>
                                      
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">₹ <%= cartFind.total %></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl  fw-900" style="color: #3F2520;">₹ <%= cartFind.total %></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                    <p id="typeerror1" style="color: red;"></p>
                                </div>
                                <div class="payment_option">
                                    <div class="radioclass">
                                       <input type="radio" class="radbtns" name="payment_option" value="cash on delevery" id="cod">
                                       <label for="cod">Cash On Delivery</label>
                                    </div>

                                    <div class="radioclass">
                                        <input type="radio" class="radbtns" name="payment_option" value="razorpay" id="razorpay">
                                       <label for="razorpay">RazorPay</label>
                                       
                                    </div>
                                   
                                </div>
                            </div>
                            <a class="btn btn-fill-out btn-block mt-30" style="background-color: #3F2520;" onclick="placeOrder('<%= cartFind._id %>')">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>
<script>
   
    console.log(document.getElementById('typeerror'));
    console.log(document.getElementById('typeerror1'));


    let selectAddressId = null
    function handleAddress(addressId){
        selectAddressId = addressId

        if(selectAddressId !== null){
            document.getElementById('typeerror').textContent = ""
        }
       
    }

   
   
    
    function placeOrder(cid) {
        const paymentoption = document.querySelector('input[name ="payment_option"]:checked')
        if(!paymentoption){
            document.getElementById('typeerror1').textContent = "Please select payment method before placing the order."
            
        }
      
        
        if (selectAddressId === null) {
            document.getElementById('typeerror').textContent = "Please select an address before placing the order."
        } else {
            
            const handlePayment =  paymentoption.value
            $.ajax({
                url: '/placeorder',
                method: 'post',
                data: {
                    cid,
                    handlePayment,
                    selectAddressId,
                },
               
                    success: (response) => {
                        if (response.status === 'ordersuccess') {
                            
                            window.location.href = "/success";
                        } else if (response.status === "onlinepayment"){
                            const orderDetails = response.orderDetails
                               var options = {
                                        "key": "rzp_test_ymZP4ImziZlWcK", 
                                        "amount": response.razorpayOrder.amount, 
                                        "currency": "INR",
                                        "name": "TimeZone", 
                                        "description": "Test Transaction",
                                        "image": "https://example.com/your_logo",
                                        "order_id": response.razorpayOrder.id,
                                        "handler": function (response){
                                                   successgreen(response , orderDetails)

                                                },
                                                                                    
                                        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                                            "name": "Gaurav Kumar", //your customer's name
                                            "email": "gaurav.kumar@example.com",
                                            "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
                                        },
                                        "notes": {
                                            "address": "Razorpay Corporate Office"
                                        },
                                        "theme": {
                                            "color": "#3399cc"
                                        }
                                    };
                                    var rzp1 = new Razorpay(options);
                                     rzp1.open(); 
                        }
                    }
                   
                });
        
    }
}

function successgreen(response , orderDetails){
    $.ajax({
        url:'/razorsuccess',
        method:'post',
        data:{
            response,
            orderDetails
        },
        success:(response)=>{
            if(response.status === 'success'){
                window.location.href = '/success'
            }
        }
    })
}

</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>