<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>TimeZone</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>
<style>
    .modal-content{
        width: 50%; 
        margin: 10% auto;
        text-align: center;

    }
  

 
  .modal-content input[type="checkbox"] {
    float: left;
    clear: both;
    margin-top: 0;
    margin-left: -300px;
    transform: scale(0.4); 
  }

  
    .modal-content button {
      padding: 10px 20px;
      font-size: 16px; 
      margin-left: 220px;
      margin-right: 222px;
      border-radius: 10px;
      margin-bottom: 20px;
      background-color: #3F2520;
      color: aliceblue;
    }

    .search-result {
        display: none;
        position: absolute;
        height: auto;
        
    }

    .no-product-found {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }

    #searchResultsContainer {
        background-color: rgb(255, 255, 255); 
        position: absolute;
        z-index: 1;
        width: 750px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
       padding-bottom: 2px;
       
    }

    .product-container {
        width: 200px;
        margin: 10px;
        text-align: left;
    }

    .product-container img {
        margin-left: -2px;
        max-width: 20%;
        height: auto;
        transform: rotate(0deg);
        transition: transform 0.5s ease; 

       
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
       
    }

    .product-info p {
        margin: -5px 0;
        font-size: 12px;
        font-weight:bolder;
        margin-top: -1px;
        color: black;
    }

  
    .rotate-90 {
        transform: rotate(90deg);
    }

    .rotate-180 {
        transform: rotate(180deg);
    }

    .rotate-270 {
        transform: rotate(270deg);
    }

   
  </style>
  
<body>
    <header class="header-area header-style-1 header-height-2">
        
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1" style="width: 110px; height: 100px; overflow: hidden;">
                        <a href="/"><img src="assets/imgs/theme/timezone Logo.png"  style="min-width: 100% ;"  alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <div class="search-style-2">
                           
                                <input id="inputtype" type="text" placeholder="Search for products . . ." onkeyup="searchProduct()"> 
                                
                               <div class="search-result">
    
                                   <div id="searchResultsContainer">
    
                                   </div>
    
                               </div> 
    
                               <h5 class="no-product-found">No products found</h5>
                              
                                   
                            </div>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue"><%= headerStatusWishlist %></span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/usercart">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue"><%= headerStatusCart %></span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1d-block d-lg-none" style="width: 110px; height: 100px; overflow: hidden;">
                        <a href="/"><img src="assets/imgs/theme/timezone Logo.png"  style="min-width: 100% ;"  alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">

                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/">Home </a>
                                     
                                    </li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                
                                
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                  
                    
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white"><%= headerStatusWishlist %></span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/usercart">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white"><%= headerStatusCart %></span>
                                </a>
                                
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="logo logo-width-1" style="width: 110px; height: 100px; overflow: hidden;">
                    <a href="/"><img src="assets/imgs/theme/timezone Logo.png"  style="min-width: 100% ;"  alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                   
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                               
                            </li>
                           
                         
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/userprofile">My Account</a></li>
                                    <li><a href="/login">login</a></li>
                            
                                    <li><a href="*">404 Page</a></li>
                                </ul>
                            </li>
                           
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                
               
            </div>
        </div>
    </div>
    <main class="main">
        <!-- <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div> -->
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12" id="report">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Products</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Payment Option</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <!-- products to cart -->
                                    <% orderData.products.forEach(element => { %>
                                 
                                    <tr>
                                        
                                        <td class="image product-thumbnail"><img src="/uploads/<%= element.productId.images[0] %>" alt="#"><p style="color: black;">
                                            <%= element.productId.pname %>
                                        </p></td>
                                        
                                        <td class="product-des product-name">
                                           
                                            <h6 class="font-xs">   <%= orderData.address.uname %>
                                                <br>  <%= orderData.address.uaddress %>
                                                <br>  <%= orderData.address.ulocation %>
                                                <br>  <%= orderData.address.umobile %>
                                                <br>   <%= orderData.address.upin %>
                                            </h6>
                                        </td>
                                        <td class="price" data-title="Price"><span id="totalprice" style="color: black;"><%= element.price * element.quantity %> </span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                              
                                                <span id="quantity" class="qty-val"><%= element.quantity %></span>
                                                
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span><%= new Date (orderData.createdate).toLocaleDateString() %> </span>
                                        </td>
                                        <td><%= orderData.paymentmethod %></td>
                                        <% if (element.productStatus === true) { %>
                                            <td><span class="badge rounded-pill alert-warning">cancelled</span></td>
                                      
                                            <% } else{ %>
                                                <td>
                                                    <a style="background-color: #3F2520;" class="btn" onclick="cancelIndividual('<%= element.productId._id %>','<%= element.productId.offprice * element.quantity %>','<%= element.quantity %>','<%= orderData._id %>')">Cancel</a>
                                                </td>

                                      <%  } %>
                                        
                                    </tr>
                                   
                                    <% }) %>
                                   
                                </tbody>
                            </table>
                        </div>
                      
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                               
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label"> Subtotal</td>
                                                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand" style="color: #3F2520;"><%= orderData.totalamount %></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Status</td>
                                                    <% if (orderData.status === 'payment failed' || orderData.status === 'Cancelled' || orderData.status === "Returned") { %>
                                                        
                                                        <td><span class="badge rounded-pill alert-warning"><%= orderData.status %></span></td>
                                                    <% }else{ %>
                                                        <td><span class="badge rounded-pill alert-success"><%= orderData.status %></span></td>
                                                  <%  } %>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount" id="totalamount"><strong><span class="font-xl fw-900 text-brand"><%= orderData.totalamount %></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                    


                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <% if (orderData.status === "Delivered") { %>
                        <div class="d-flex justify-content-end gap-3">               
                        <a onclick="openReturnModal('<%= orderData._id %>')" style="background-color: #3F2520; width: 15rem;" class="btn">Return order</a>
                        <a onclick="downloadInvoice()" style="background-color: rgb(255, 236, 178) ; color: black; width: 15rem;" class="btn">Download invoice</a>
                    </div>
                        <div id="returnModal" class="modal">
                           
                          <div class="modal-content">
                            <span class="close" onclick="closeReturnModal()">&times;</span>
                            <h5>Select reason for return:</h5>
                            <p id="errormessage" class="text-danger"></p>
                            <input type="checkbox" id="reasonIncorrectItem" name="returnReason" value="Incorrect Item">
                            <label for="reasonIncorrectItem">Incorrect Item</label><br>
                            <input type="checkbox" id="reasonItemDamaged" name="returnReason" value="Item Damaged">
                            <label for="reasonItemDamaged">Item Damaged</label><br>
                            <input type="checkbox" id="reasonSizeFitIssue" name="returnReason" value="Size/Fit Issue">
                            <label for="reasonSizeFitIssue">Size/Fit Issue</label><br>
                            
                            <button onclick="submitReturn('<%= orderData._id %>')">Submit</button>
                          </div>
                        </div>
                                                                  
                         
                     
                    <% }else if(orderData.status === 'Cancelled') { %>
                        <div class="d-flex justify-content-end">
                        <a href="/orders" class="btn " style="border-color: black; background-color: transparent; color: black;">Back</a>
                    </div>

                  <%  }else if(orderData.status === 'payment failed'){ %>
                    <div class="d-flex justify-content-end">
                    <a onclick="payAgain('<%= orderData._id %>','<%= orderData.paymentmethod %>','<%= orderData.user._id %>','<%= orderData.totalamount %>')" class="btn " style="border-color: black; background-color: transparent; color: black;">Pay Again</a>
                    
                </div>

                
                 <% }else { %>
                    <div class="d-flex justify-content-end">
                        <a onclick="cancelOrder('<%= orderData._id %>','<%= orderData.paymentmethod %>','<%= orderData.user._id %>')" class="btn " style="border-color: black; background-color: transparent; color: black;">Cancel order</a>
                       
                    </div>
               <%  } %>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated" style="background-color: rgb(255, 236, 178);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" style="color: aliceblue;" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3" style="color: black;">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0" style="color: black;">...and receive <strong>$25 coupon for first
                                        shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                      
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1" style="width: 110px; height: 100px; overflow: hidden;">
                                <a href="/"><img src="assets/imgs/theme/timezone Logo.png"  style="min-width: 100% ;"  alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>
<script>

    function cancelIndividual(productid,productPice,productQuantity,orderID){
         $.ajax({
            url:'/individualcancel',
            method:'post',
            data:{
                productid,
                productPice,
                productQuantity,
                orderID
            },
            success:(response)=>{
                if(response.status === true){
                    window.location.reload()
                }
            }
         })
    }

function cancelOrder(id,paymentMethod,userID){
 
    
 $.ajax({
    url:'/cancelorder',
    method:'post',
    data:{
        id,
        paymentMethod,
        userID
    },
    success:(response)=>{
        if(response.status === 'cancel'){
            window.location.href = '/orders'
        }
    }
 })
}

function openReturnModal(id){
    const modal = document.getElementById('returnModal');
    modal.style.display = "block";
}

function closeReturnModal(){
    const modal = document.getElementById('returnModal');
    modal.style.display = "none";
}

function submitReturn(id){
    const selectResons = document.querySelectorAll('input[name="returnReason"]:checked');
    if(selectResons.length === 0){
        document.getElementById('errormessage').textContent = "Please select atleast one reason"
        return;
    }else{
        document.getElementById('errormessage').textContent = ""
    }
   

    const reasons = [];
    selectResons.forEach(reason => {
        reasons.push(reason.value);
    });

    $.ajax({
        url: '/return',
        method: "post",
        data: {
            id: id,
            reasons: reasons
        },
        success: (response) => {
            if (response.status === "return") {
               
                const Toast = Swal.mixin({
                    toast: true,
                    position: "bottom",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                    });
                    Toast.fire({
                    icon: "success",
                    title: "Request sent successfully"
                    });
                    closeReturnModal();
                    setTimeout(() => {
                        window.location.href = '/orders';
                       
                    }, 3000);
               
            }
        },

    });
}

const returnReasonCheckboxes = document.querySelectorAll('input[name="returnReason"]');
returnReasonCheckboxes.forEach(checkbox => {
    checkbox.addEventListener('change', () => {
        document.getElementById('errormessage').textContent = ""
    });
});

function back(){
    window.location.back()
}

function downloadInvoice() {
    const table = document.getElementById("report")
    html2pdf().from(table).save();
}

function payAgain(orderid){
    const totalprice = document.getElementById('totalamount').textContent

    $.ajax({
        url:'/payagain',
        method:'post',
        data:{
            orderid,
            totalprice
        },
        success:(response)=>{
            if(response.status === 'onlinepayment'){
               
                const orderDetails = response.orderDetails
                console.log(orderDetails);
                              var options = {
                                        "key": "rzp_test_ymZP4ImziZlWcK", 
                                        "amount": response.razorpayOrder.amount, 
                                        "currency": "INR",
                                        "name": "TimeZone", 
                                        "description": "Test Transaction",
                                        "image": "https://example.com/your_logo",
                                        "order_id": response.razorpayOrder.id,
                                        "handler": function (response){
                                           
                                                   successgreen(response , orderDetails)
                                                  },
                                                                                    
                                        "prefill": { 
                                            "name": "Gaurav Kumar", 
                                            "email": "gaurav.kumar@example.com",
                                            "contact": "9000090000" 
                                        },
                                        "notes": {
                                            "address": "Razorpay Corporate Office"
                                        },
                                        "theme": {
                                            "color": "#3F2520"
                                        }
                                    };
                                    var rzp1 = new Razorpay(options);
                                    rzp1.open()
                                
            }
        }
    })
    
   
}

function successgreen(response , orderDetails){



$.ajax({
    url:'/paymentsucces',
    method:'post',
    data:{
        response,
        orderDetails,
       
    },
    success:(response)=>{
        if(response.status === 'success'){
            window.location.href = '/success'
        }
    }
})
}


const inputElement = document.getElementById('inputtype');
    let timeoutId;

    function debounce(func, delay) {
        return function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                func();
            }, delay);
        };
    }

    function showSearchResult() {
        const searchResult = document.querySelector('.search-result');
        searchResult.style.display = 'block';
    }

    function hideSearchResult() {
        const searchResult = document.querySelector('.search-result');
        searchResult.style.display = 'none';
    }

    function showNoProductFound() {
        const noProductFound = document.querySelector('.no-product-found');
        noProductFound.style.display = 'block';
    }

    function hideNoProductFound() {
        const noProductFound = document.querySelector('.no-product-found');
        noProductFound.style.display = 'none';
    }

    function searchProduct() {
        const searchDataValue = inputElement.value.trim();

        if (searchDataValue !== "") {
            showSearchResult();
            debounce(() => {
                $.ajax({
                    url: "/search",
                    method: "post",
                    data: {
                        searchDataValue
                    },
                    success: (response) => {
                        const searchResultsContainer = document.getElementById('searchResultsContainer')
                        searchResultsContainer.innerHTML = ""

                        if (response.searchProducts.length > 0) {
                            response.searchProducts.forEach(element => {
                                const productContainer = document.createElement('div');
                                productContainer.classList.add('product-container');

                                const productElement = document.createElement('div');
                                productElement.innerHTML = `
                                <a href="/products?_id=${element._id}">
                                    <img src="/uploads/${element.images[0]}" alt="product">
                                    <div class="product-info">
                                        <p>${element.pname}</p>
                                        <p>₹${element.offprice}</p>
                                    </div>
                            
                                `;

                                productContainer.appendChild(productElement);
                                searchResultsContainer.appendChild(productContainer);
                            });
                            hideNoProductFound();
                        } else {
                            hideSearchResult();
                            showNoProductFound();
                        }
                    }
                })
            }, 500)();
        } else {
            hideSearchResult();
            hideNoProductFound();
        }



    }


    const url = new URLSearchParams(window.location.search)
    const paymentFailed = url.get('paymentFailed')

    if(paymentFailed === 'true'){
                  Swal.fire({
                        title: "Payment Failed!",
                      
                        icon: "error",
                        customClass: {
                            confirmButton: 'black-ok-button'
                        },
                        iconColor: '#3F2520'
                    })
    }

</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>